<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5cca11e197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/add.css">
    <title>Register</title>
</head>
<body>
    <div class="box" id="heading">
    <form action="/add-contact" method="POST">
        <div>
        <input type="text" name="newDeadline" placeholder="Deadline" required>
        </div>
        <div>
        <input type="text" name="newSubject" placeholder="Subject" required>
    </div>
    <div>
        <input type="text" name="newWorkType" placeholder="Work Type" required>
    </div>
    <div>
        <input type="text" name="newWorkDate" placeholder="Work Date" required>
    </div>
    
</div>
        <button type="submit" id="add">Add</button>
        </form>
        <form action="/add-index" method="GET">
            <button id="arrow"><i class="fas fa-arrow-left"></i></button>
            </form>

        </div>
</body>
</html>