<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/5cca11e197.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>TODO List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>TODO List</h1>
<div id="button-add">
    <hr>
    <form action="/login" method="GET">
        <button id="add">» Log in «</button>
        </form>
</div>
<div id="button-add">
<hr>
<form action="/register" method="GET">
    <button id="add">» Register «</button>
    </form>
</div>
</body>
</html>